# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env/

# =========================
# IDE / Editor (PyCharm)
# =========================
.idea/
.vscode/

# =========================
# Playwright outputs
# =========================
playwright-report/
test-results/
screenshots/
videos/

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log

# Reports
allure-results/
allure-report/
report.html